# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/

# turborepo
.turbo/

# prisma generated client
packages/database/src/generated/

# env — never commit real secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.pem
.vscode/*
!.vscode/settings.json
